body {
    h1 {
        color: white; /* Cor do texto do título */
        text-align: center;
        margin-bottom: 20px; /* Espaço abaixo do título */
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c2c2c; /* Cor grafite */
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
}

.card {
    width: 200px;
    height: 150px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.6s;
}

.card:hover {
    transform: rotateY(180deg);
}

.back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.card.flip .back {
    display: flex;
}

.card.flip {
    background-color: #e0e0e0;
}
